# OS
.DS_Store

# Logs
*.log

# Env
.env
.env.*

# Node/Bun
node_modules/
.bun/
bun.lockb

# Build
**/dist/
**/coverage/

# Editor
.vscode/
.idea/

# Playwright
test-results/
playwright-report/
output/playwright/
